<!DOCTYPE html>
<html ng-app="RegClient">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular 1.x Registration Form</title>
    <!-- Cascading style dependencies -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="client.css">
</head>

<body ng-cloak ng-controller="RegVM as vm">
    <div class="container thank-you-page" ng-cloak ng-show="vm.done">
        <h1>Thank You page</h1>
        <p>
            3b. Inform registrant of successful form submission by displaying either a <b>Thank You page</b>, or a Modal, or inline HTML message
        </p>
        <button class="btn btn-primary" ng-click="vm.done = false">
            Reset
        </button>
    </div>
    <div class="container" ng-cloak ng-hide="vm.done">
        <h1 class="col-md-12 title">
            A landing page with a user registration form
        </h1>
        <form name="regForm" class="col-md-6" ng-submit="regForm.$valid && vm.onSubmit()" required>
            <div class="form-group">
                <div class="form-group">
                    <label for="email">
                        1a. Email address
                    </label>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Email" ng-model="vm.submission.email" required />
                    <div ng-show="regForm.email.$touched || regForm.$submitted">
                        <div ng-show="regForm.email.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2a. Mandatory fields cannot be left blank
                        </div>
                        <div ng-show="regForm.email.$error.email">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2b. Email entered must be a vaid email address
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">
                        1b. Password
                    </label>
                    <input name="password" type="password" class="form-control" id="password" ng-minlength="8" ng-model="vm.submission.password" ng-pattern="vm.regex.password" placeholder="Password" required />
                    <div ng-show="regForm.password.$touched || regForm.$submitted" required ng-required="vm.submission.password">
                        <div ng-show="regForm.password.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2a. Mandatory fields cannot be left blank
                        </div>
                        <div ng-show="regForm.password.$error.minlength">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2ci. Password needs to be at least 8 characters long.
                        </div>
                        <div ng-show="regForm.password.$error.pattern">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2cii. Password must include use both uppercase and lowercase letters (case sensitivity), and (2ciii) must include one or more numerical digits, and (2civ) must include one of these special characters @,#,$
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name">
                        1c. Name
                    </label>
                    <input name="name" type="text" class="form-control" id="name" placeholder="Name" ng-model="vm.submission.name" required />
                    <div ng-show="regForm.name.$touched || regForm.$submitted">
                        <div ng-show="regForm.name.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2a. Mandatory fields cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="gender">
                        1d. Gender
                    </label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="gender" class="form-check-input" type="radio" id="gender-m" ng-model="vm.submission.gender" value="Male" required />
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input name="gender" class="form-check-input" type="radio" id="gender-f" ng-model="vm.submission.gender" value="Female" required />
                            Female
                        </label>
                    </div>
                    <div ng-show="regForm.gender.$touched || regForm.$submitted">
                        <div ng-show="regForm.gender.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2a. Mandatory fields cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob">
                        1e. Date of birth
                    </label>
                    <input name="dob" class="form-control" id="dob" type="date" ng-model="vm.submission.dob" required/>
                    <div ng-show="regForm.dob.$touched || regForm.$submitted">
                        <div ng-show="regForm.dob.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2a. Mandatory fields cannot be left blank
                        </div>
                        <div ng-show="vm.isAKid(vm.submission.dob)">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2d. Registrant must be at least 18 years old
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address">
                        1f. Postal address
                    </label>
                    <textarea name="address" class="form-control" id="address" ng-model="vm.submission.address" rows="3" type="textarea" required>
                    </textarea>
                    <div ng-show="regForm.address.$touched || regForm.$submitted">
                        <div ng-show="regForm.address.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2a. Mandatory fields cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="country">
                        1g. Country
                    </label>
                    <select class="form-control" name="country" id="country" ng-model="vm.submission.country" required>
                        <option value="" selected disabled>
                            Please select
                        </option>
                        <option ng-repeat="country in vm.countries" value="{{country.value}}">
                            {{country.name}}
                        </option>
                    </select>
                    <div ng-show="regForm.country.$touched || regForm.$submitted">
                        <div ng-show="regForm.country.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2a. Mandatory fields cannot be left blank
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contact">
                        1h. Contact Number
                    </label>
                    <input name="contact" type="text" class="form-control" id="contact" placeholder="91234567 or +(000)1234-5678" ng-model="vm.submission.contact" ng-pattern="vm.regex.contact" required />
                    <div ng-show="regForm.contact.$touched || regForm.$submitted">
                        <div ng-show="regForm.contact.$error.required">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2a. Mandatory fields cannot be left blank
                        </div>
                        <div ng-show="regForm.contact.$error.pattern">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            2e. Contact number should not contain invalid characters (+, -, space, and round brackets are allowed, as they are used for area code and extensions)
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" ng-disabled="vm.isAKid(vm.submission.dob)">
                    Submit
                </button>
            </div>
        </form>
    </div>
</body>

<!-- Functional dependencies -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="client.js"></script>
<script src="client.vm.js"></script>

</html>